<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What's the weather like?
            </h1>
        </div>
    </div>
</section>