<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
    <%- include('./partials/header'); %>
    </header>
    <main>    
        <section class="section" id='results_view'>
        <div id="city-name-wrapper">
            <h2 class="text-center">Weather for:</h2>
            <h2 class="text-center" id="cityname"></h2>
            <div id="city-forecast">
                <p class="weather-descr col-xs-12"></p>
                <p class="temp col-xs-12"></p>
                <p class="pressure col-xs-12"></p>
                <p class="wind-spd col-xs-12"></p>
                <div id="longit-val"></div>
                <div id="latitude-val"></div>
            <!-- forecast  -->
            </div>
        </div>
        </section>
    </main>
    
    <footer id = "footer">
    <%- include('./partials/footer'); %>
    </footer>

</body>
    <script src="/javascripts/index.js"></script>
</html>
